.addform {
    position: absolute;
    right: 10px;
    top: 100px;
    height: max-content;
    width: 250px;
    padding: 20px;
    border: 2px solid #000000;
    font-size: 20px;
    transition: 0.3s;

}

.addform.unactive {
    right: -300px;
    display:none;
}

label, input, button {
    margin: 20px 10px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

form input {
    padding: 10px 0;
}